img:hover{
    size: 150px;
}
a:hover{
    color: green;
    color: red;
}
/* :link (როდესაც ჯერ არ დაგვიწკაპუნებია ლინკზე) * / 
/* :visited (როდესაც უკვე გადავედით ბლუმზე) */
/* :hower (როდესაც მაუს გადავუსვავ ლინკს) */ 
/* :active (როცა ვაჭერთ ლინკს, იმ მომენტში) */