h1{
    text-align: center;
    color: green;
}
body{
    
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: black;
   
      
}
p{
    color: green;
}
